ul{
	list-style-type: disc;
	font-size: 20px;
  line-height: 1.5;
}
body{
	background-color: rgba(251, 244, 248, 0.81) !important;
}
h1,h1.page-heading,.post-link{
  font-size: 36px;
  font-weight: bold;
}
.clearfix{
  clear: both;
}
pre,code{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.backtotop{
  position: fixed;
  bottom: 81px;
  cursor: pointer;
  left: 50%;
  text-align: center;
  background-color: #ddd;
  margin-left: 390px;
  border-radius: 50%;
}
.backtotop a {
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  transition: 0.4s linear;
  display: block;
}
.backtotop:hover{
  background-color: #bbb;
}
.backtotop a:hover{
  text-decoration: none;
}
.full-article{
  text-align: right;
}