ul{
	list-style-type: disc;
	font-size: 20px;
  line-height: 1.5;
}
body{
  background: url(/image/white_wall.png) rgba(251, 244, 248, 0.81) !important;
}
h1,h1.page-heading,.post-link{
  font-size: 33px;
  font-weight: bold;
}
.clearfix{
  clear: both;
}
pre,code{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.backtotop{
  position: fixed;
  bottom: 81px;
  cursor: pointer;
  left: 50%;
  text-align: center;
  background: url(/image/rocket_small.png) no-repeat;
  background-size: cover;
  margin-left: 450px;
  width: 30px;
  height: 50px;
}
.full-article{
  text-align: right;
}
a.anchorjs-link {
    text-decoration: none;
    color: #E01B1B;
    text-shadow:0 0 0;
    margin-left:-1.3em !important;
}
a.anchorjs-link:hover{
  text-decoration: none;
  color: #E01B1B;
}
a.anchorjs-link:visited{
  color:#E01B1B;
}