<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <div id="back-top" title="Scroll to Top" class="backtotop"> 
      <a href="#">Up</a> 
    </div>
    <script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/anchor.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>
